main{
    width: 100%;
    margin: 0;
    background-position: fixed;
    
}
.abt-us-section{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;

}

/* first part of the abt us section */
.first-part-of-abt-us-section{
    width: 95%;
    margin: auto;

}
.abt-us-info-container{
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: rgb(219, 156, 251);
}

.abt-us-info-title{
    font-size: 5rem;
    font-weight: 700;
    padding: 100px 0 100px 0;
    color: rgb(72, 2, 138);
}


/* second part of the abt us section */
.second-part-of-abt-us-section{
    width: 95%;
    align-items: center;
    justify-content: center;
    margin:auto;
    color: rgb(72, 2, 138);



}
.abt-us-titles{
    padding: 0 0 40px 0;
    font-size: 3.5rem;
}
.abt-us-contents{
    margin:auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.abt-us-content-container{
    width: 100%;
    margin: auto;
}
.abt-us-contents img{
    width: 100%;
    border-radius: 8px;
    
}
.abt-us-statement-{
    
    font-weight: 200;
    font-size: 1.2rem;
    width: 90%;
    text-align: left;
    color: rgb(82, 0, 117);
}
.abt-us-statement-{
    
    font-weight: 200;
    font-size: 1.2rem;
    width: 90%;
    text-align: left;
    color: rgb(82, 0, 117);
}
.sec-statement{
    padding-left: 3rem;
}


/* services section */
.services-section{
    width: 100%;
    height: 700px;
    background-color: rgb(51, 0, 94);
    border-radius: 30% 15% 0 0;
}
.services-section-inner{
    width: 80%;
    
}