.header{
    width: 100vw;
    
}
/* first part of the abt us section */
#abt-us-header-section{
    width: 100%;
    max-width: 1980px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.first-part-of-abt-us-section{
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-width: 1960px;
    background:linear-gradient(
    rgba(255, 255, 255, 0.1)  , 
    rgba(255, 255, 255, 0.1)
    ), url(../images/front.JPG); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    justify-content: center;
    display: flex;
    align-items: center;
}
.abt-us-header-container{
    width: 100vw;
    max-width: 1920px;
    height: 800px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.title-container h1{
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
}
.title-container p{
    font-size: clamp(1rem, 3vw, 2rem);
    width: 60vw;
    min-width: 300px;
    max-width: 900px;
    color: white;

}
.abt-us-info-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.abt-us-header-title{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
 
}
.abt-us-header-span{
    font-size: 3rem;
    font-weight: 300;
}


.mission-vision-container{
    width: 100%;
    max-width: 1960px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 5vw, 2vw, 5vw, 2vw;
}
.row{
    width: 90%;
    max-width: 1764px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-container{
    flex: 50%;
}
.content-text-container{
    height: 60vh;
    max-height: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40vw;
    max-width: 862px;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.content-text-container p, .content-text-container h1{
    width: 80%;
    color: white;
    margin: auto;
}
.paragraph{
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.mission-card{
    background-image:  linear-gradient(rgba(157, 57, 214, 0.2),
                        rgba(118, 69, 235, 0.4)),
                        url(../images/imghand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.vision-card{
    background-image: linear-gradient(rgba(22, 63, 12, 0.5),
                    rgba(13, 56, 2, 0.5)),
                    url(../images/garden.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* services section */
.services-section{
    width: 100%;
    text-align: center;
    background-color: rgb(220, 235, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.service-title{
    padding: 30px;
    font-size: 2.5rem;
    width: 50%;
    margin:auto;
    font-weight: 700;
}
.services-section-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;

}
.service-item{
    width: 30%;
    padding: 30px;
    /* background-color: rgb(199, 163, 255); */
    border-radius: 8px;
    text-align: left;
    flex-basis: 50%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    flex-direction: column;
}
.service-item-title{
    font-size: 1.7rem;
}
.service-item-sentence{
    list-style: none;
    padding-top: 30px;
    font-size: 0.8rem;
    font-weight: 200;
}

#facilities-section{
    width: 100%;
    margin:auto;
    
}
.facilities-section-container{
    text-align: left;
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
    flex-direction: column;  

}
.facility-section-header-container{
    width: 100%;;
    text-align: center;
    padding-top: 100px;
}

.facility-list-container{
    padding: 50px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.facility-list-row{
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.fac-item-col{
    display: flex;
    flex-direction: row;
}
.faci-num{
    flex: 10%;
    width: 100%;
    font-weight: bolder;
}
.fac-item-col span{
    font-size: 4rem;
    color: rgb(44, 0, 133);

}

.facility-item{
    flex: 90%;
    width: 100%;
    font-weight: 400;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    justify-items: space-between;
    font-size: 0.8rem;
}
/* animation */
.abt-us-header-title{
    display: block; opacity: 0;
    animation: reveal 1s forwards var(--d);
}
@keyframes reveal{
    from {transform: translateY(40px);}
    to { opacity:1; transform: none;}
}

@media (max-width: 1158px){
    .content-text-container{
        width: 80vw;
        max-width: 80vw;
        height: auto;
        margin-bottom: 20px;
        max-height: auto;
    }
    .abt-us-info-text{
        width: 100%;
    }
    .abt-us-header-title{
        font-size: 6rem;

    }
    .abt-us-header-span{
        font-size: 2.2rem;
        font-weight: 300;
    }
    .mission-vision-container{
        width: 80%;
    }
    .content-text-container{
        text-align: center;

    }
    .row{
        flex-direction: column; 

    }   
}

/* responsive styling */
@media (max-width: 800px){

    .row{
        width: 100%;
    }
    .content-container{
        width: 100%;
    }
    .abt-us-header-container{
        flex-direction: column;
    }
    .abt-us-info-text{
        width: 100%;       
        text-align: center;
    }
    .abt-us-header-title{
        font-size: 4rem;
    }
    .abt-us-header-span{
        font-size: 2rem;
    }

    .mission-vision-container{
        width: 95%;
    }
    .content-text-container{
        padding: 30px;
    }

    .mission-vision-container{
        max-height: 1200px;
    }
    /* services */
    .services-section-row{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .service-item{
        flex: 100%;
        width: 100%;
        padding: 0 0 30px;
    }
    /* facilities section */
    #facilities-section{
        width: 95%;
    }
    .facility-list-container{
        padding:0;
        width: 90%;
        padding-bottom: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}


@media (max-width: 400px){
  
    .mission-vision-container{
        width: 98%;
    }
}

@media (max-width: 591px){
    .content-text-container{
    }
}