 /* ========================================== */
 /*            TRANSITIONS + ANIMATIONS        */
 /* ========================================== */
 .fade-in{
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
  .delay-trans{
    transition-delay: 0.2s;
  }
  .fade-in.appear{
    opacity:1;
  }
 
 
 .from-left{
   transform: translateX(-50%);
 }
 .from-right{
   transform: translateX(50%);
 }
 .from-left, .from-right{
   transition:
       opacity 0.5s ease-in,
       transform 0.7s ease-in;
   opacity: 0;
 }
 .from-left.appear, .from-right.appear{
   transform: translateX(0);
   opacity: 1;
 }