

.career-header-img-container{
    margin-top: -10px;

}
.career-img{
    width: 100%;
    height: 50%;
    mix-blend-mode: multiply;
}
.title-container{
    width: 100%;
    height: 80vh;
    max-height: 864px;
    margin: auto;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.6)
    ), url(../images/career1.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-container h1{
    font-size: clamp(3rem, 10vw, 10rem);
}
.title-container p{
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    color: white;
    width: 70%;
    margin: auto;
}


/* all section styles */
.career-section{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.career-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.career-section-photo img{
    flex-basis: 50%;
    width: 50vw;
    border-radius: 8px;
    max-width: calc(1960px/2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.career-section h2{
    font-size: clamp(1.2rem, 3vw, 2rem);

}
.career-section p{
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    width: 80%;
    min-width: 320px;
    text-align: left;
    font-weight: 500;
    margin: auto;
    margin-top: 30px;

}
.section-content p 
{
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.section-1{
    padding: 40px;
    margin:auto;

}




@media (max-width: 1200px){
    .section-1, .section-4{
        flex-direction: column;
        justify-content: center;
        padding: 30px 0 30px 0;
       
    }
    .section-1 img, .section-4 img{
        width: 100%;
        margin: auto;
    }

}
@media(max-width: 1000px){
    .send-cv-container{
        width: 90%;
    }
}


.section-2{
    padding: 30px;
    width: 80%;
    margin: auto;
    text-align: left;
    flex-direction: row-reverse;
}
.section-2 em{
    background-color: rgb(228, 240, 255);
}
.service-3 .career-section-container .title{
    padding: 30px;
}

.item-holder{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 350px;
    width: 20vw;
    max-width: calc(1960px*0.3);
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(0.25turn,
                rgba(235, 106, 252, 0.2),
                rgba(138, 106, 252, 0.2) ); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-4{
    min-height: 400px;
    width: 90%;
    margin: 70px auto 70px auto;
    justify-content: center;
    text-align: center;
}

.send-cv-statement{
    font-size: 1.5rem;
    font-weight: 400;
    transform: 0.5s;
}

.send-cv-link:hover{
    text-decoration: underline;
}
.send-cv-statement-container{
    padding: 50px;
}
.send-cv-link-container{
    padding-bottom: 50px;
}
.send-cv-link{
    text-decoration: none;
    color: purple;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 30px;
}
.why-choose-us-list{
    display: block;
    list-style: none;
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
}
.why-choose-us-item{
    padding: 10px;
    font-weight: 400;
}
.why-choose-us-item b{
    color: rgb(0, 110, 0);
}
.staff-perks-title
{
    width: 90%;
    text-align: center;
    padding: 30px;
    margin: auto;
}
.staff-perks-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.staff-perks-card img{
    width: 100%;
}
.staff-perks-card h2{
    padding: 15px 0 15px 0;
}
.staff-perks-card{
    width: 30%;
    min-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px 8px 0 0;

}

