

main{
    margin: 100px 0 100px 0;
    
}
.title-container{
    padding: 100px;
    text-align: center;
}
.title-container h1{
    font-size: 3rem;
    padding-bottom: 30px;
}
.title-container p{
    font-size: 1.5rem;
    width: 60%;
    margin: auto;
    font-weight: 100%;
}
.career-container-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.career-item-container{
    flex: 45%;
    padding: 10px;
}
.career-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 30px;

    border-radius: 8px;
    background-color: rgba(239, 234, 255, 0.5);
}


.career-title{
    padding: 0 0 40px 0;
    font-size: 1.5rem;
    font-weight: 700;

}

.job-detail{
    font-size: 1.05rem;
    font-weight: 100;
    height: 250px;
}
.btn-container{
    width: 100%;
    text-align: center;
}
.apply-now-btn{
    font-size: 1rem;
    padding: 5px;
    width: 200px;
    margin: auto;
    cursor:pointer;

    border-color: transparent;
    background-color: rgb(187, 109, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    color: white;
    border-radius: 8px;
}



@media (max-width: 800px){

    .career-container-row{
        flex-direction: column;
    }
}