
/* contact style / contact Us page */
.timeline-photo-container{
    height: 100px;
    width: 100%;
    padding: 100px 0px 50px 0px;

    align-items: center;
    justify-content: center;
  
  }
  #contact-container{
    text-align: center;
    justify-content: center;
  }

 
  .contact-us-title{
    color: rgb(53, 0, 83);
    text-align: center;
    font-size: 4rem;
    
  }
  .contact-inner-container{  
    display: flex;
    flex-direction: row;
    margin: auto;
  }


  .contact-information{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
.fa-facebook-square{
  color: blue;
}
.fa-linkedin-square{
  color: rgb(29, 146, 249);
}
.fa-instagram{
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,27,104,1) 22%, rgba(0,212,255,1) 100%);;
}
.contact-card-container{
  padding-bottom: 30px;
  width: 90%;
  padding: 10px;
  
}
.contact-card-container-inner{
  margin: auto;
  color: rgb(70, 0, 110);
  background-color: rgba(239, 234, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  height: 280px;
  padding: 30px;
}

.contact-frm-btn{
  text-align: center;
  margin-bottom: 0px;
}
.contact-card-title{
  padding-top: 30px;
}
.contact-card-phrase{
  padding: 40px 40px 20px 40px;
  font-weight: 300;
}
.phone-number, .email{
  text-decoration: none;
  color: rgb(145, 55, 248);
  font-size: 1.2rem;
  font-weight: 500;
}
.bus-route-title{
  font-size: 1.5rem;
}
.bus-route-text-content{
  display: flex;
  flex-direction: row;
  padding: 30px 0 30px 0;
  align-items: center;
  justify-content: center;
}
.bus-route-list-container{
  flex: 50%;
}
.bus-route-links-container{
  text-align: center;
  flex: 50%;
}
.bus-information-step-by-step-list{
  width: 80%;
  margin: auto;
}

.location-in-contact-us{
  
  border-radius: 8px;
  width: 80%;
}
@media(max-width: 1200px){
  .contact-information{
    flex-direction: column;
  }
}
@media (max-width: 800px){
  main{
    padding-top: 30px;
  }
  .contact-inner-container{
    flex-direction: column;
    width: 100%;
  }
  .form-rows{
    flex-direction: column;
  }
  .contact-us-title{
    font-size: 35px;
    padding: 40px;
  }
  .contact-card-container-inner{
    height: auto;
    padding: 30px;
    margin: auto;
  }
  .timeline-photo-container{
    padding-bottom: 0;
  }
 
}
@media (max-width: 1500px){
  .bus-route-text-content{
    flex-direction: column;
    padding: 20px;
  }
  .bus-route-links-container{
    text-align: center;
    padding-bottom: 30px;
    
  }
  
}

@media (max-width: 1200px){
  .contact-inner-container{
    flex-direction: column;
    width: 100%;
  }
  
  .contact-card-container{
    width: 95%;
  }
  
  .location-in-contact-us{
    width: 100%;
  }
}

