
/* contact style / contact Us page */
.timeline-photo-container{
    height: 100px;
    width: 100%;
    padding: 100px 0px 50px 0px;

    align-items: center;
    justify-content: center;
  
  }
  #contact-container{
    width: 100%;
    text-align: center;
    justify-content: center;
  }

 
  .contact-us-title{
    color: rgb(53, 0, 83);
    text-align: center;
    font-size: 4rem;
    
  }
  .contact-inner-container{
    width: 70%;
  
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  /* right side of the body of contact us  */
  .contact-form-title{
    color: rgb(70, 0, 110);
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem;
  }
  .contact-form{
    width: 100%;
    flex: 50%;
    height: 100%;
    margin: 0;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }
  .contact-form form{
    background-color: rgba(191, 175, 255, 0.9);
    padding: 5px 20px 0px 20px;
    border-radius: 8px;
  }
  .form-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    font-weight: 300;
  }
  .form-item label{
    padding-bottom: 10px;

  }
  .first-row-form{
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .form-rows{
    width: 100%;
  }
  .second-row-form{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .form-item textarea{
    width: 96%;
    height: 200px;
  }
  
  .form-item input{
    width: 95%;
    margin-right: 20px;
  }
  /* left side of the body ( contact- us) */
  .contact-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 30%;
  }
.fa-facebook-square{
  color: blue;
}
.fa-linkedin-square{
  color: rgb(29, 146, 249);
}
.fa-instagram{
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,27,104,1) 22%, rgba(0,212,255,1) 100%);;
}
.contact-card-container{
  margin: 0px 30px 30px 0px;
  background-color: rgba(191, 175, 255, 0.9);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding-bottom: 30px;
  color: rgb(70, 0, 110);
  height: 230px;
}

.contact-frm-btn{
  text-align: center;
  margin-bottom: 0px;
}
.contact-card-title{
  padding-top: 30px;
}
.contact-card-phrase{
  padding: 40px;
  font-weight: 300;
}
.phone-number{
  text-decoration: none;
  color: rgb(145, 55, 248);
  font-size: 1.2rem;
  font-weight: 500;
}
.location-in-contact-us{
  /* background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px; */
  /* background-color: rgba(233, 205, 255, 0.9); */
  border-radius: 8px;
  width: 80%;
}

@media (max-width: 800px){
  .contact-inner-container{
    flex-direction: column;
    width: 100%;
  }
  .form-rows{
    flex-direction: column;
  }
  .contact-us-title{
    font-size: 35px;
  }
  .timeline-photo-container{
    padding-bottom: 0;
  }
  .form-item{
    margin-left: 0px;
  }
  .form-item label{
    margin-left: 7px;
  }
  .form-item textarea{
    width: 92%;
  }
}

@media (max-width: 1200px){
  .contact-inner-container{
    flex-direction: column;
    width: 100%;
  }
  .contact-card-container{
    width: 95%;
    margin-left: 2.5%;
  }
  .contact-form{
    margin-top: 0px;
    width: 95%;

    margin: 0px 0px 20px 2.5%;
  }
}

