header{
  top:0;
  width: 100%;
  max-width: 1980px;
  background: transparent;
  z-index : 10000;
  margin: auto;
  display: flex;
  position: fixed;
  justify-content: center;
}
/* navbar styles */
.nav-container{
  width: 100%;
}

.navbar{
    margin:auto;
    display: flex;
    flex-direction: row;
    min-height:100px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .navbar-brand-container{
    width: 170px;
    background: rgb(255, 255, 255);
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    backdrop-filter: blur(6px);
    border-radius: 0 0 40% 50%;
    
  }
  .navbar-brand{
    mix-blend-mode: multiply;
    width: 120px;
  }

  .nav-list-container{
    justify-content: center;
  }
  .nav{
    display: flex;
    align-items: center;
    margin-top: 5%;
    gap: 40px;
    background-image: linear-gradient(to right, rgba(190, 93, 246,0.7) , rgba(49, 30, 255,0.7));
    padding: 15px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-item{
    list-style:none;
  }

  .nav-link{
    position: relative;
    text-decoration   :none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 0.5em;
  }

  .nav-link:after{
    content: "";
    position:absolute;
    background-color: rgb(208, 166, 255);
    height: 2px;
    color: rgb(208, 166, 255);
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.5s ;
  }

  .nav-link:hover:after{
    width: 100%;
    
  }
  .active-nav{
    border-bottom: rgb(208, 166, 255) 0.14em solid;

  }
  /* BURGER-MENU STYLES */
  .burger-menu{
    display: none;
    cursor: pointer;
    position: fixed;
    top: 35px;
    right: 30px;
  }

  .bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(254, 248, 255);
  }

  @media(max-width:1024px){
    .burger-menu{
      display:block;
    }
    .burger-menu.active .bar:nth-child(2){
      opacity: 0;
    }
    .burger-menu.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .burger-menu.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-brand-container{
      margin-left: -30px;
    }
    .nav{
      padding-top: 100px;
      top:0;
      border-radius: 0;
      right:-150%;
      gap: 0;
      position: fixed;
      flex-direction: column;
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(219, 157, 255));
      width: 100%;
      height: 100%;
      text-align: center;
      transition: 0.5s;
    }
    .nav-item{
      margin: 16px 0;
      }
    .nav.active{
      right:0;
      
    }
  }
  