header {
  top: 0;
  width: 100vw;
  max-width: 1960px;
  background: transparent;
  z-index: 10000;
  margin: auto;
  display: flex;
  position: fixed;
  backdrop-filter: blur(8px);
  transition: 0.3s;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  /* background: linear-gradient(90deg, rgba(255, 255, 255,0.9) 0%, rgba(255, 255, 255, 0.8) 44%,rgba(143, 51, 219, 0.8) 100%); */
}
header.hidden{
  top: -110px;

}

.nav-container {
  width: 100%;
  padding: 0 20px;

}

.navbar {
  margin: auto;
  display: flex;
  min-height: 100px;
  justify-content: space-between;
}
.navbar-brand-container{
  width: 10vw;
  margin-left: 2%;
}
.navbar-brand {
  mix-blend-mode: multiply;
  filter: drop-shadow(1px 1px 1px #ffffff);
  width: 100%;
  min-width: 130px;
  max-width: 140px;
}

.nav-list-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 15px;

}

.nav-item {
  list-style: none;


}

.nav-link {

  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  color: #3d0073;
  font-size: 1rem;
  font-family:Helvetica, sans-serif;
  font-weight: 400;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color:#3d0073;
  ;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.nav-link:hover:after {
  width: 100%;
}

.active-nav {
  border-bottom:#3d0073 0.14em solid;
}
.spacer{
  letter-spacing: 3px;
}
.burger-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 30px;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #4f00aa;
}



.career-link{
  background-color: rgba(209, 149, 255,0);
  color: #3d0073;
  border: 1px solid;
  padding:10px 30px 10px 30px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.5 ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.05);


}
.career-link:hover{
  background-color: rgb(173, 79, 245);
  transition: 0.5 ease;
  color: white;
}

@media only screen and (max-width:1024px) {
  .burger-menu {
    display: block;
  }
  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
 
  .nav {
    top: -3%;
    padding: 100px 0 100px 0;
    right: -150%;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    transition: 0.5s;
    background: linear-gradient(to right, #fff, #db9dff);

  }
  .career-link{
    font-weight: 400;
    font-size: 1.5rem;

  }
  .nav-item {
    font-size: 1.7rem;
  }
  .nav-link{
    text-transform: capitalize;
    font-size: 1.7rem;
  }
  .nav.active {
    right: 0;
  }
}


