@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&family=Lexend:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&family=Lexend:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Lato:wght@300;400;700;900&family=Lexend:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Lato:wght@300;400;700;900&family=Lexend:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Russo+One&display=swap');

*{
  margin:0;
  padding:0;
}
/* body styling, this will be in general to all of the pages
all body of each of the pages will have the same design */
body{
  margin: auto;
  background-position: center;
  max-width: 1960px;
  scroll-behavior: smooth;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: rgb(238, 238, 238);
}

.container{
  position: relative;
  width: 100%;
  margin: auto;
}
.inner-container{
  width: 90%;
  margin: auto;
}

.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: stretch;
  width: 91%;
  margin: 50px auto;
}
/* general styling */


.title{
  font-family: 'Lato', sans-serif;
}

.letter-space-1-{
  letter-spacing: 1px;
}
.margin-center{
  margin:auto;
}
.width-max-percent{
  width: 100%;
  max-width: 1980px;
}

.content-title{
  font-size: 2rem;
  letter-spacing: 0px;
  font-weight: 700;
}
.title-padding{
  padding: 30px;
}
.title-padding-bottom-30{
  padding-bottom: 30px;
}
.heading-title{
  font-size: 3rem;
}
.paragraph{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(73, 73, 73);


}
.padding-bottom-10{
  padding-bottom: 10px;
}
.section-container{
  max-height: 1080px;
  min-height: 500px;
}

/* home section style */
.landing-page-container{
  margin: auto;
  height: 100vh;
  max-height: 1080px;
  min-height: 500px;
  background: url(../images/front-bg.png); 

  background-size: clamp(400px, 100vw, 1100px);
  background-position: bottom right;
  background-repeat: no-repeat;
  justify-content:flex-start;
  display: flex;
  align-items: center;
}

.banner-container{
  width: 50svw;
  max-width: 1080px;
  position: relative;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: center;
}
.banner-title{
  font-size: clamp(3rem, 4vw, 5rem);
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.banner-text{
  margin-top: 10px;
  font-size: 1.1rem;
  width: 55%;

  max-width: 600px;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: rgb(82, 82, 82);
 
}
@keyframes fadeDown{
  0%{
    opacity: 0;
    transform: translateY(100px) scale(0.9);

  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.btn-container a{
  text-decoration: none;
}
.btn-container{
  width: 100%;
  display: flex;  
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 0px 0;
  padding: 5px 10px 5px 0;
  width: 180px;
  font-size: 1rem;
  background: linear-gradient(to right, #8a4fff, #bd00ff); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  color: white;
  border: none;
  transition: 0.5s ease;
}

.btn:hover{
  border-radius: 100px;
}
.btn img{
  height: 2rem;
}
/* socials and visiting times section styles */
.visiting-times-container{
  padding: 100px 0;
  width: 100%;
  background-color: rgba(92, 87, 119, 0.9);
  margin: auto;
}
.social-media-container{
  background-color: rgb(186, 202, 219);
  padding: 100px 0;
  width: 100%;
  margin: auto;
}
.visiting-times-container h1, .social-media-container h1{
  font-weight: 300;
  text-align: center;
  font-size: clamp(1rem, 15vw, 1.5rem);
  width: clamp(200px, 87.5%, 600px);
  margin: auto;
  color: white;
}
.social-media-container h1{
  color: black;
}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.socials .fa-facebook{
  color: rgb(45, 45, 250);
}
/* abt-us-card-container */
.abt-us-card-container{
  width: 100%;

}
.card-container{
  width: 100%;
  max-width: 800px;
  flex: 40%;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  margin: 15px;


}

.card-text-content{
  display: flex;
  flex-direction: column;
  padding: 30px;
}



.card-title{
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}


.card-img{
  width: cover;
}
.card-link{
  width: 300px;
  font-size: 1.3rem;
  margin-top: 30px;
  background: none;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.6s ease;
}
.card-link:hover{
  text-decoration: underline;
}

/* location style */
#location{
  width: 100%;
  position: inherit;  
  overflow: hidden;

}

.location-header{
  font-size: 50px;
  font-weight: bolder;
  padding: 30px;
}
.location-container{
  text-align: center;
  padding-bottom: 50px;
}
.location-container h1{
  font-weight: 700;
  font-size: 2.2rem;

  letter-spacing: 2px;
}
.location-container-inner{
  display: flex;
  flex-direction: column;
}
.bus-route-title{
  font-size: clamp(1.5rem, 10vw, 2rem);
  padding: 30px 0;
  text-align: left;
}
.bus-info-container{
  width: 90%;

  margin: auto;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.bus-route-info-container{
  display: flex;
  flex-direction: column;
  width: clamp(250px, 87.5%, 600px);
}
.bus-flex-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  /* align-items: center; */
}

.bus-route-info-text-container, .bus-route-info-important-links-container{
  flex: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bus-route-info-important-links-container{
  flex: 50%;
  text-align: left;
}
.bus-information-step-by-step-list{
  list-style-type: decimal;
  padding: 0 20px;
}
.bus-link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.6s ease;
}
.bus-link-container{
  display: flex;
  flex-direction: column;
}
.bus-link:hover{
  text-decoration: underline;
}
.bus-links-container{
  padding: 30px 0;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}
iframe{
  width: 100%;
  height: 50vw;
  max-height: 700px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: auto;
  margin-bottom: 30px;
}

/* join us section */
#join-us-section
{
  padding: 100px 0 100px 0;
  background:linear-gradient(
    rgba(224, 217, 217, 0.1), 
    rgba(0, 0, 0, 0.7)
  ), url(../images/career1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  border-radius: 8px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-us-container{
  width: 100%;
  height: auto;
}
.join-us-text-content{
  width: 80%; 
  color: rgb(255, 255, 255);
  text-shadow: 0.25px 0.25px 2px rgba(17, 17, 17, 0.5);

  margin: auto;
  text-align: center;
  
}

.join-us-title{
  letter-spacing: 0.01em;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;

}
.join-us-link-container{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.join-us-link{
  font-size: 1.2rem;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(153, 0, 255);
  text-decoration: none;
  font-weight: 400;
  color: white;
  margin-top: 30px;
}
@media(max-width:1544px){
  /* .bus-route-info-container{
    flex-direction: column;
  } */
  .bus-route-info-text-container{
    margin-bottom:30px;

  }

}

/* responsive elements */
@media(max-width:1200px){
  .bus-route-info-container{
    flex-direction: column;

  }
  .landing-page-container{
    height: 80vh;
  }
  .item-container{
    width: 100%;
  }
}

@media (max-width: 947px){

  .card-container{
    min-width: 250px;
  }
  .item-container{
    flex-direction: column;
  }
  .banner-container{
    width: 100%;
    top: -15%;
  }
}
@media (max-width: 800px){
  .landing-page-container, .banner-container, .btn-container{
    justify-content: center;
  }
  .bus-route-info-container, .location-container-inner, .abt-us-card{
    flex-direction: column;
  }
  .banner-text, .abt-us-card p, .card-link, .bus-link{
    width: 90%; 
  }
  .banner-container, .bus-info-container{
    width: 100%;

  }
  .bus-route-info-text-container{
    margin-bottom: 30px;
  }
  .banner-container{
    align-items: center;
    margin: auto;
    text-align: center;
    left: 0;
  }
  .btn-container{
    align-items: center;
  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-text{
    text-align: center;
  }
  .visiting-times-container h1, .social-media-container h1{
    width: 90%;
  }

  .about-us-container{
    height: auto;
    padding-bottom: 0px;
    }

  .card-title, .bus-route-title{
    font-size: 1.5rem;

  }
  .abt-us-card p, .card-link, .bus-link{
    font-size: 1rem;

  }
  .abt-us-card-content{
    flex: 40%;
    padding-top: 20px;
    margin-left: 0px;
    font-size: 1.5rem;
    text-align: center;
  }

  .abt-us-card{
    margin-bottom: 30px;
    height: auto;
    padding: 0;
  }
  /* bus information in media 800px */
  .bus-info-container{
    left: 2.5%;
  }


}


@media (max-width: 550px){
  .abt-us-card{
    width: 95%;
    padding: 0px;
  }
  .banner-text{
    font-size: 1rem;
  }
  .join-us-title{
    font-size: 1.5rem;
  }
  .btn-container{
    flex-direction: column;
  }
}



@media (max-width: 480px){
  
  
  .content-title, .visiting-times-container h1, .social-media-container h1{
    font-size: 1.3rem;
  }
  .contact-us-btn, .learn-more-btn, .paragraph{
    font-size: 1rem;
  }
  .bus-flex-container{
    width: 80%;
  }
  .item-container, .visiting-times-container h1, .social-media-container h1{
    width: 87.5%;
  }
  .flex-wrapper{
    width: 100%;
  }
  .visiting-times-container h1, .social-media-container h1, .bus-route-info-important-links-container{
    text-align: left;
  }
  .text-content, .text-content p, .bus-information-step-by-step-list{
    padding: 0;
  }
  .bus-links-container{
    padding: 30px 0;
  }
  .item-card, .fa{
    padding-bottom: 10px;
  }
  iframe{
    height: 500px;
  }
}




/* social medias link */
.fa-facebook-square{
  color: blue;
}
.fa-linkedin-square{
  color: rgb(29, 146, 249);
}
.fa-instagram{
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,27,104,1) 22%, rgba(0,212,255,1) 100%);;
}

