*{
  margin:0;
  padding:0;
}

body{
  position          :relative;
  background-position: center;
  background-color: rgb(228, 240, 255);
  max-width: 1980px;
  margin: auto;
  scroll-behavior: smooth;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.container{
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.inner-container{
  width: 90%;
  margin: auto;
}
/* home section style */
#home{
  
  margin: auto;
}


.img-container{
  width: 100%;
  max-width: 1980px;
  margin: auto;
  min-height: 750px;
  background:linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.6)
  ), url(../images/img2.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; 
  justify-content: left;
  display: flex;
  align-items: center;
}

.banner-container{
  position: relative;
  top: 30%;
  left: 5%;
  width: 500px;
  animation: fadeDown 1s;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
  color: rgb(255, 255, 255);

}

@keyframes fadeDown{
  0%{
    opacity: 0;
    transform: translateY(100px) scale(0.9);

  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.banner-text{
  margin-top: 5px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  font-weight: 300;
 
}


.contact-us-btn, .learn-more-btn{
  margin-top: 20px;
  margin-right: 10px;
  width: 200px;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  background: rgb(128, 0, 202);
  font-weight: bold;
  color: white;
  border: none;
}


/* simple statement styles */
#simple-statement{
  width: 100%;
  max-width: 1980px;
  margin:auto;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(186, 88, 243));
  text-align: center;
}
.statement{
  width: 40%;
  max-width: 1200px;
  font-size: 2.7rem;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  color: rgb(70, 0, 110);
}
/* card styles */
#about-us{
  width: 100%;
  max-width: 1980px;
  margin: auto;
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.about-us-container{
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.about-us-inner-container{
  width: 90%;
  max-width: 1500px;

  margin: auto;
  text-align: center;
}

.abt-us-card-row{
  margin: auto;
  width: 90%;
}
.abt-us-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 450px;
  color: rgb(28, 0, 71);
  text-align: left;
  padding-bottom: 40px;


}

.card-img{
  height: 100%;
  width: 100%;

}
.service-card-img{
  background: url(../images/card-services.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; 
}
.facilities-card-img{
  background: url(../images/facilities-card.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; 
}

.abt-us-card-content{
  margin-left: 30px;
  flex: 60%;
}
.abt-us-card-title{
  font-size: 30px;
  font-weight: bolder;
  
  
}
.abt-us-card p{
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 50px;
  width: 90%;
  
}
.card-link{
  width: 300px;
  font-size: 1.5rem;
  background: none;
  font-weight: bolder;
  text-decoration: none;
}

/* location style */
#location{
  width: 100%;
  position: inherit;  

}

.location-header{
  font-size: 50px;
  font-weight: bolder;
  padding: 30px;
}
.location-container{
  text-align: center;
  padding-bottom: 50px;
}
.location-container h1{
  color: rgb(78, 0, 97);
  font-weight: bold;
  font-size: 2.2rem;

  letter-spacing: 2px;
}
.location-container-inner{
  display: flex;
}
.bus-route-title{
  padding-bottom: 30px;
}
.bus-info-container{
  width: 80%;
  color: rgb(78, 0, 97);
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-right: 30px;
}

.bus-information-step-by-step-list{
  list-style-type: decimal;
  padding-bottom: 50px;
}
.bus-step{
  padding-bottom: 10px;
  font-weight:200;
  letter-spacing: 1px;
}
iframe{
  width: 100%;
  height: 500px;
  margin: auto;
  border-radius: 10px;
}
/* contact us form style */
#contact-form{
  width: 100%;
  max-width: 1980px;
  margin:auto;
  text-align: center;
  border-radius: 60% 60% 0 0;
  overflow: hidden;
  background:linear-gradient(to right, rgb(9, 0, 17), rgb(83, 0, 131));
}
.form-title{
  font-size: 40px;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  padding: 20px 0px 20px 0px;

}
.form-item{
  width: 600px;
  margin: auto;
}


.form-item input{
  background-color: rgba(208, 120, 255,0.3);
  border-radius: 5px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  font-weight: bold;
  width: 500px;
}
.form-item textarea{
  background-color: rgba(208, 120, 255,0.3);
  width: 490px;
  height: 250px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 15px;

}

.snd-msg-btn{
  margin-top: 15px;
  margin-bottom: 20px;
  background: rgb(164, 43, 235);
  color: rgb(252, 252, 252);
  width: 120px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 100px;
}
.form-item text-area :active{
  background-color: white;
}
::placeholder {
  color: rgb(235, 186, 255);
  opacity: 0.7; /* Firefox */
  text-align: center;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

  font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(235, 186, 255);
  opacity: 0.7; /* Firefox */


}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(235, 186, 255);
  opacity: 0.7; /* Firefox */


}

/* hiqa section */
#hiqa{
  width: 100%;
  background-color: #002f4b;
  padding: 50px 0 50px 0;
}
.hiqa-container{
  width: 80%;
  margin: auto;
  padding: 100px;
  text-align: center;  
}
.hiqa-link-statement{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  width: 60%;
  font-weight: 100;
  margin: auto;
  padding-bottom: 40px;
}
.hiqa-link-container{
  flex: 10%;
  text-align: right;
  justify-content: center;
}

.hiqa-sect-link{
  font-size: 1.5rem;
  color: rgb(32, 152, 250);
  text-decoration: none;
  font-weight: bolder;
} 
/* responsive elements */
@media (max-width: 800px){
  .img-container{
    background:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.6)
    ), url(../images/img2.jpg) no-repeat left center; 
  
  }
  .banner-container{
    width: 100%;
    text-align: center;
    left: 0;
  }
  .banner-title{
    font-size: 3rem;
  }
  .statement{
    font-size: 2rem;
  }
  #about-us{
    padding-bottom: 250px;
  }
  .about-us-container{
    padding-bottom: 62px;
  }

  .abt-us-card-row{
    width: 100%;
    height: 1000px;
  }
  .card-img{
    height: 400px;
  }
 .abt-us-card-content{
  flex: 40%;
  font-size: 1.5rem;
 }
  .abt-us-card{
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .statement{
    width: 80%;
  }
  .location-container-inner{
    flex-direction: column;
  }

  .bus-info-container{
    width: 100%;
    left: 2.5%;
  }
  #contact-form{
    border-radius: 15% 15% 0 0;
    padding-top: 30px;
  }
  .form-item{
    width: 95%;
    margin-left: 2.5%;
    padding: 0;
  }
  .form-item input, .form-item textarea{
    width: 95%;
    margin-left: 2.5%;
  }

}