.main {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.landing-section {

    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.landing-section.text-container {
    width: fit-content;
    height: auto;
    /* hat height (only shows this part) */
    overflow: hidden;
    /* hide the "below the hat" part */
    position: relative;
}

.landing-section span {

    font-size: 15vh;
    font-weight: 700;
    margin: auto;
    text-align: center;
    color: transparent;
    /* make the fill invisible */
    -webkit-text-stroke: 2px black;
    /* outline color and width */
    opacity: 0;
    text-stroke: 2px black;
    /* non-prefixed (for broader support) */


    position: relative;
    /* start below the "hat" */
    animation: riseUp 2s ease-out forwards;
}



.text-container {
    width: 97.5%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.statement {
    width: clamp(300px, 97.5%, 800px);
    margin: auto;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 30vh;
}

.in-person-section, .by-letter-section {
    display: flex;
    flex-direction: column;
    padding: 5vh 0 0 0;

}

.sec-title {
    text-align: center;
    font-size: 5rem;
    margin: auto 50px;
}

.in-person, .by-letter {
    width: 97.5%;
    padding: 100px 0;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.in-person figure, .by-letter figure{
    width: 40%;
    margin: auto;
    flex: 40%;
}

.in-person figure video, .by-letter figure img {
    width: 100%;
}

.in-person-text ,.by-letter-text{
    flex: 50%;
    margin: auto;
    display: flex;
    width: clamp(300px, 95%, 300px);
    flex-direction: column;
}

.in-person-text h1, .by-letter-text h1 {
    font-size: 2rem;
    background: linear-gradient(120deg, #000000, #14f873);
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 20px;
}

.in-person-text p, .by-letter-text p {
    font-size: 1.2rem;

    font-weight: 300;
    padding-bottom: 50px;
}
.by-letter-text a{
    text-decoration: none;
    background: linear-gradient(120deg, #26dc93, #7617c4);
    -webkit-background-clip: text;
    font-weight: 800;
    color: transparent;
    
}
.in-person-text span {

    font-size: 1.7rem;
    font-weight: 400;


    padding-bottom: 10px;
}
.by-letter{
    flex-direction: row-reverse;
}

@keyframes riseUp {
    0% {
        transform: translateY(-200);
        opacity: 0;
    }


    100% {
        transform: translateY(0);
        opacity: 1;
    }
}